extends ./layout.jade
block contenido
  // Genera la lista de las estudiantes que un profesor tiene
  .collection
    .nav-wrapper.teal.darken-3
      a.breadcrumb(href='#!', style='margin-left: 2%') LISTA ESTUDIANTES
    ul.collection
      li.collection-item.avatar
        img.circle(src='../img/perfil.JPG', alt='')
        span.title Paradigma
        p
          | Miller 
          br
          |          Aguirre
        a.secondary-content(href='#!')
          i.material-icons label_outline
      li.collection-item.avatar
        i.material-icons.circle folder
        span.title Diseño web
        p
          | Luisa 
          br
          |          Pereira
        a.secondary-content(href='#!')
          i.material-icons label_outline
      li.collection-item.avatar
        i.material-icons.circle.green insert_chart
        span.title Title
        p
          | First Line 
          br
          |          Second Line
        a.secondary-content(href='#!')
          i.material-icons label_outline
      li.collection-item.avatar
        i.material-icons.circle.red play_arrow
        span.title Title
        p
          | First Line 
          br
          |            Second Line
        a.secondary-content(href='#!')
          i.material-icons label_outline
      li.collection-item.avatar
        i.material-icons.circle.green insert_chart
        span.title Title
        p
          | First Line 
          br
          |          Second Line
        a.secondary-content(href='#!')
          i.material-icons label_outline
      li.collection-item.avatar
        i.material-icons.circle.red play_arrow
        span.title Title
        p
          | First Line 
          br
          |          Second Line
        a.secondary-content(href='#!')
          i.material-icons label_outline