extends ./layout.jade
block contenido
  // Cursos que dicta el docente
  .collection
    .nav-wrapper.teal.darken-3
      a.breadcrumb(href='#!') CURSOS
    a.collection-item(href='#!')
      | PARADIGMA (NOCTURNO)
      span.new.badge 1
    a.collection-item(href='#!')
      | PARADIGMA (DIURNO)
      span.new.badge 4
    a.collection-item(href='#!') DISEÑO WEB (NOCTURNO)
    a.collection-item(href='#!')
      | DISEÑO WEB (DIURNO)
      span.new.badge.red 14
